@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(80, 36, 36, 1) 51%,
      rgba(255, 76, 0, 1) 100%
    );
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
